<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						
						<div class="row">
							<div class="col-md-12">
								<h1>Things you need to knhow</h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<div class="row">
						<div class="col-md-4">
								<div>
									<div class="thumbnail">
										<img alt="" height="300" class="img-responsive" src="/images/Pro/andres.jpg">
									</div>
								</div>
							

						</div>

						<div class="col-md-8">

						
							<h4>Enterptice </h4>

							<span class="thumb-info-social-icons">
								<a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
								<a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
								<a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
							</span>

							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam dolor debitis ea ipsam dicta rerum quasi! Expedita similique nostrum quo quaerat blanditiis ex accusamus. Tenetur ipsum cupiditate quasi repellendus voluptate!</p>

							<ul class="list icons list-unstyled">
								<li><i class="fa fa-check"></i> Nice laboral emviroment.</li>
								<li><i class="fa fa-check"></i> Nice oportunities</li>
								<li><i class="fa fa-check"></i> Loans and social secure.</li>
							</ul>

						</div>
					</div>

			

					

				</div>
				

</div>