<div role="main" class="main">

				<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h1>Enerprice Rules </h1>
							</div>
						</div>
					</div>
				</section>

				<div class="container">

					<h2>Your next home <strong>just in front of you</strong></h2>

					<ul class="nav nav-pills sort-source" data-sort-id="team" data-option-key="filter">
						<li data-option-value="*" class="active"><a href="#">Requirements</a></li>
						<li data-option-value=".leadership"><a href="#">Services</a></li>
						<li data-option-value=".marketing"><a href="#">User information</a></li>
					</ul>

					<hr />

					<div class="row">

						<ul class="team-list sort-destination" data-sort-id="team">
							<li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership">
								<div class="team-item thumbnail">
									<a href="about.hbs" class="thumb-info team">
										<img class="img-responsive" alt="" src="/images/Pro/andres.jpg">
									
									</a>
									<span class="thumb-info-caption">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut labore eum quaerat totam animi qui laboriosam assumenda est, minima ex eius sapiente a veniam aliquid! Sit autem facilis tempore recusandae.</p>
										<span class="thumb-info-social-icons">
											<a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
											<a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
											<a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
										</span>
									</span>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-12 isotope-item marketing">
								<div class="team-item thumbnail">
									<a href="about-me.html" class="thumb-info team">
										<img class="img-responsive" alt="" src="/images/Pro/Claudia.jpg">
										<span class="thumb-info-title">
											<span class="thumb-info-inner">Claudia Sheinbaum</span>
											<span class="thumb-info-type">Candidate</span>
										</span>
									</a>
									<span class="thumb-info-caption">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis laboriosam corporis ea fugit dignissimos repellat nemo repellendus laborum quod molestiae distinctio, culpa id assumenda laudantium, nostrum iure ratione architecto? Vel.</p>
										<span class="thumb-info-social-icons">
											<a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
											<a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
											<a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
										</span>
									</span>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
								<div class="team-item thumbnail">
									<a href="about-me.html" class="thumb-info team">
										<img class="img-responsive" alt="" src="/images/Pro/noroña.jpg">
										
									</a>
									<span class="thumb-info-caption">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam sunt totam excepturi sequi laboriosam numquam unde minima dolore, itaque incidunt maiores a enim exercitationem perferendis? Unde accusantium sit veniam quod.</p>
										<span class="thumb-info-social-icons">
											<a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
											<a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
											<a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
										</span>
									</span>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-12 isotope-item design">
								<div class="team-item thumbnail">
									<a href="about-me.html" class="thumb-info team">
										<img class="img-responsive" alt="" src="/images/Pro/lili.jpg">
										
									</a>
									<span class="thumb-info-caption">
										<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit, voluptatibus. Ex at, nisi dignissimos in officiis quas quam maxime necessitatibus minus repellat asperiores. Iure, fugit explicabo nulla doloribus corporis facilis.</p>
										<span class="thumb-info-social-icons">
											<a data-tooltip data-placement="bottom" target="_blank" href="http://www.facebook.com" data-original-title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a>
											<a data-tooltip data-placement="bottom" href="http://www.twitter.com" data-original-title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a>
											<a data-tooltip data-placement="bottom" href="http://www.linkedin.com" data-original-title="Linkedin"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
										</span>
									</span>
								</div>
							</li>
							
						</ul>

					</div>

				</div>

			</div>